.navbar {
    padding-block: 1rem;
    background-color: hsl(0 0% 0%);
    color: white;
  }
  
  .navbarContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin-inline: auto;
    align-items: center;
    padding-inline: 1rem;
  }
  
  .navTitle {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .navTitle h2 {
    margin-block: 0;
  }
  a{
    color:white;
  }
  .nav {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 5rem;
    color:white;
  }
  .navLink a {
    color: white !important;
    background: transparent;
    padding: 7px 8px;
    font-size: 1em;
    border: 1px solid transparent;
    border-left: 1px var(--sidebar-main-color) solid;
  }

  .navLink a:hover {
    background-color: #fff;
    border-color: white;
    color: #000;
    transition: 0.8s;
  }
   img {
    width: 150px;
    height: 70px;
  }
  .header {
    height: 60vh;
    box-shadow: inset 0 2px 2px 0 #00000096;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url(../header/assets/justice.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
