/* .container-form {
  height: 110vh;
} */



.container_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.card_form {
  overflow: hidden;
  width: 400px;
  height: 250px;
  background:#F5F5F5;;
  box-shadow: 5px 5px 15px rgba(#BA7E7E);
  border-radius: 10px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_title {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
}

.card_name {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 700;
}

.btn-draw-border {
  margin-top: 50px;
  width: 170px;
  height: 35px;
  background: #FFDD00;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  color: black;
}

.card_form_change {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 300px;
  height: 200px;
  background:#F5F5F5;;
  box-shadow: 5px 5px 15px rgba(#BA7E7E);
  border-radius: 10px;
}

.grid-container-weight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-change {
  margin-top: 10px;
  border: none;
  width: 50%;
  height: 62px;
  background: #fff;
  border-radius: 31px;
  padding: 0 35px;
}

.button_save {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.button_save .btn-change {
  width: 150px;
  height: 35px;
  background: #FFDD00;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 30px;
  color: white;
}