/********** Mise en page ******************/

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  list-style: none;
}
/********** Logo de la page ******************/

.logo img {
  width: 150px;
  height: 70px;
}

/********** Nav-Bar ******************/
.navBar {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sidebar);
  height: 10vh;
}


/********** Nav-Bar Menu ******************/
.nav-links {
  display: flex;  
  gap: 20px;  
  padding-right: 20px; 
}


.nav-links li {
  color: var(--sidebar-main-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;  
  cursor: pointer;
  margin: 0 25px;
  padding: 0 10px;
  border-left: 1px var(--sidebar-main-color) solid;
}

.mobile-menu-icon {
  border: none;
  background: none;
  font-size: 20px;
  display: none;
}

@media (max-width : 768px){

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 0px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: var(--sidebar);
  }
  ul li {
    padding: 25px 0px;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    color: var(--sidebar-main-color);
    font-weight: 600;
    font-size: 1em;  
    cursor: pointer;
  }

  ul li:hover {
    background-color: var(--sidebar-hover-link);
    border-bottom: 1px var(--sidebar-main-color) solid;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    right: 20px;
    cursor: pointer;
  }
}





@media screen and (max-width : 700px) {
  /* .navBar {
    padding: 12px 20px;
  }

  .navBar .logo {
    position: absolute;
    top: 30px;
    left: 35px;
  }

  .navBar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(255, 255, 255, 0, 20);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navBar .nav-links ul li {
    margin: 25px 0px;
    font-size: 1.2rem;
  } */

}


/* User info */

.account-info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: auto;
}
.account-info-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.account-info-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.account-info-name {
  font-size: 14px;
  color: var(--sidebar-main-color);
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.account-info-more {
  color: var(--sidebar-main-color);
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
