/**************************************** Section ***************************************************/


.section-header {
    box-sizing: border-box;
}

.banner {
    background: url(./assets/bd-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
}

.banner-view {
    z-index: 999;
    background-color: #000a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 60vh;
}

.banner-view p {
    color: var(--sidebar-main-color);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-view span {
    margin-top: 5px;
    color: var(--sidebar-main-color);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

/**************************** Section Profil *****************************/

.section-profil {
    background-color: var(--sidebar-main-color);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.section-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-left h2 {
    text-align: center;
    font-size: 2.4vw;
}
.bloc-left p  {
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
}

.bloc-right h2 {
    text-align: center;
    font-size: 2.7vw;
    color: white;
}

.bloc-right p {
    font-size: 1.37vw;
    margin-top: 2em;
    font-weight: 500;
    color: white;
    margin-bottom: 2em;
}

/* .bloc-left img {
    margin-top: 2em;
    height: 65.4vh;
} */

@media screen and (max-width : 780px) {
    .section-profil {
        display: block;
    }

    .section-left {
        width: 100%;
        height: 20vh;
    }

    .section-right {
        width: 100%;
        height: 20vh;
    }

    .bloc-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bloc-left h2 {
        font-size: 1.2em;
    }
    .bloc-left p  {
        font-size: 1.2em;
        font-weight: bold;
    }

    .bloc-right h2 {
        font-size: 1.2em;
    }

    .bloc-right p {
        width: 80%;
        font-size: 0.8em;
        margin-top: 7px;
    }

    /* .bloc-left img {
        height: 60vh;
        margin-top: 7px;
    } */
}

/*************************** Section Card *************************/


.section-card {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsl(0 0% 96%);

}

.card {
    margin: 40px;
    max-width: 250px;
    max-height: 350px;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
}

.card-title {
    display: block;
    text-align: center;
    color: var(--sidebar-main-color);
    background-color: var(--sidebar);
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width : 780px) {
    .section-card {
        height: 100vh;
    }

    .card-title {
        font-size: 0.9rem;

    }
}

.section-signup {
    height: 200px;
    background-color: var(--sidebar);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btn-signup {
    width: 455.39px;
    height: 43.97px;
    background: #FFDD00;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (max-width : 500px) {
    .section-signup {
        height: 170px;
    }
    .btn-signup {
        width: 350px;
        font-size: 0.9rem;
    }
}



/* width: 455.39px;
height: 43.97px; 
/*  */